<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAreaService" />
      </basicHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IArticleService" />
      </basicHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICustomerService" />
      </basicHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDriverService" />
      </basicHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderLinesService" />
      </basicHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderService" />
      </basicHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Server.Services/AreaService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAreaService" contract="IAreaService" name="BasicHttpBinding_IAreaService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Server.Services/ArticleService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IArticleService" contract="IArticleService" name="BasicHttpBinding_IArticleService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Server.Services/CustomerService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService" contract="ICustomerService" name="BasicHttpBinding_ICustomerService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Server.Services/DriverService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDriverService" contract="IDriverService" name="BasicHttpBinding_IDriverService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Server.Services/OrderLinesService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderLinesService" contract="IOrderLinesService" name="BasicHttpBinding_IOrderLinesService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Server.Services/OrderService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService" contract="IOrderService" name="BasicHttpBinding_IOrderService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Server.Services/UserService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService" contract="IUserService" name="BasicHttpBinding_IUserService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.2.0" newVersion="4.9.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>